@import "../../custom_theme.scss";
.site-logo-mat-toolbar .mat-toolbar-row{height: 0;}

.site-logo-mat-toolbar{ padding:0; margin-bottom:2rem;
  @media all and (max-width: 768px)
  {

  }
}
.site-logo-mat-toolbar .site-logo-mat-toolbar-logo-row{ height:13rem;  margin-bottom: 2rem; margin-top:-2rem;}
.site-logo-mat-toolbar-logo__spec{font-size: .875rem; display: block;}

.language-mat-menu-container{ position: absolute; right:2rem;top: 2rem;}
.language-mat-menu-item__icon{font-size: 0;}


.language-mat-menu-container-btn__icon{  font-size: 1.75rem;}
.language-mat-menu-item__icon_english{background: url("../../assets/images/language-mat-menu-item__icon_english.png");-webkit-background-size:contain; background-size:contain;}

.language-mat-menu-item__icon_russian{ background: url("../../assets/images/language-mat-menu-item__icon_russian.png"); -webkit-background-size:contain; background-size:contain;}
.site-logo-mat-toolbar-logo{ text-align: center;text-decoration: none; color: #fff;}
.site-logo-mat-toolbar-logo__img{ background:url("../../assets/images/site-logo-mat-toolbar__logo.png") 50% no-repeat;  height: 7.5rem; -webkit-background-size:contain; background-size:contain;
  width: 7.5rem;  margin: .9375rem auto;}

.site-logo-mat-toolbar .mat-nav-list-row{  background-color: rgba(0,0,0,0.08);
  text-transform: uppercase;
  height: 3rem;}
.mat-nav-list-container{ text-align: center; max-width: 960px; width:100%;}
.mat-nav-list-container .mat-nav-list{ padding-top:0;  width: 100%;}
.mat-nav-list .mat-nav-list__item{ color: #fff;} 