<header class="site-header"><mat-toolbar class="site-logo-mat-toolbar" color="primary"  fxLayout="column">

  <mat-toolbar-row class="site-logo-mat-toolbar-logo-row"><div fxLayoutAlign="center center" fxFlex="100" >                                       
    <a href="/" class="site-logo-mat-toolbar-logo"><div class="site-logo-mat-toolbar-logo__img"></div>
  Kudroff Artem portfolio's
    </a>

    </div>
  </mat-toolbar-row>



  <div class="language-mat-menu-container"><button class="language-mat-menu-container-btn" mat-icon-button
                                                  [matMenuTriggerFor]="menu">
    <mat-icon class="language-mat-menu-container-btn__icon">
      language
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="language-mat-menu">
    <button mat-menu-item class="language-mat-menu-item">
      <mat-icon class="language-mat-menu-item__icon language-mat-menu-item__icon_english"></mat-icon>
      <span>English</span>
    </button>
    <button mat-menu-item class="language-mat-menu-item">
      <mat-icon class="language-mat-menu-item__icon language-mat-menu-item__icon_russian"></mat-icon>
      <span>Russian</span>
    </button>
  </mat-menu>
    </div>




  <mat-toolbar-row class="mat-nav-list-row">
  <div fxLayoutAlign="center center"  fxFlex="100" >
  <div class="mat-nav-list-container" >
    
    <mat-nav-list class="mat-nav-list" fxLayoutAlign="space-between center">
    <a mat-list-item class="mat-nav-list__item" fxFlex="nogrow" fxLayout="column"
       *ngFor="let navLink of navLinks"
       href="{{ navLink.href }}">
      {{ navLink.label }} </a>
  </mat-nav-list>
  
  </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</header>