<div class="about-container" fxFlex="100%" fxLayout="column wrap" fxLayoutAlign="center start">
<div class="about-row"
     fxLayout.gt-sm="row nowrap"  fxLayout="column wrap"
     fxLayoutAlign="center stretch" fxLayoutGap="1rem">
     <div class="about-column" fxLayout="column" fxLayout.gt-sm="column" fxFlex="66%" fxFlexAlign="center stretch">
       <mat-card class="about-card">
           <mat-card-content>
           <p class="about-card__introduction-caption">— I'm Kudroff Artem, a front-end web developer living in Saint-Petersburg, Russia.</p>
           <p class="about-card__introduction"></p>
             
           </mat-card-content>
           
       </mat-card>
       
       
      </div>
      <div class="about-column" fxLayout="row" fxLayout.gt-sm="column"  fxFlexAlign="center stretch" fxFlex="auto">
       <mat-card class="contact-card">
           <mat-card-title>Contacts</mat-card-title>
           <mat-card-content>
             <div><a class="contact-card-content__email" href="mailto:artem.kudroff@gmail.com">  <mat-icon class="">email</mat-icon> artem.kudroff@gmail.com</a></div>
             
               <a mat-button mat-raised-button color="primary" class="a400 contact-card-content__skype" href="skype:NZeraF?voicemail">Skype</a>
                <a mat-button mat-raised-button color="primary" class="a400 contact-card-content__whatsapp" href="/">Whatsapp</a>
                <a mat-button mat-raised-button color="primary" class="a400 contact-card-content__github" href="/">Github</a>
                <a mat-button mat-raised-button color="primary" class="a400 contact-card-content__linkedin" href="/">LinkedIn</a>
             
           </mat-card-content>
       </mat-card>
      </div>
</div>
</div>
