<div class="contact-container" fxFlex="100%" fxLayout="column wrap" fxLayoutAlign="center start">
<div class="contact-row"
     fxLayout.gt-sm="row nowrap"  fxLayout="column wrap"
     fxLayoutAlign="center stretch" fxLayoutGap="1rem">
     <div class="contact-column" fxLayout="column" fxLayout.gt-sm="column" fxFlex="66%" fxFlexAlign="center stretch">
       <md-card class="contact-card">
          <md-card-title>Testimonials</md-card-title>
           <md-card-content>
               
           </md-card-content>
           
         
       </md-card>
       
       
      </div>
      <div class="contact-column" fxLayout="row" fxLayout.gt-sm="column"  fxFlexAlign="center stretch" fxFlex="auto">
       <md-card class="contact-card">
           <md-card-title>Contacts</md-card-title>
           <md-card-content>
             <a href="mailto:artem.kudroff@gmail.com">artem.kudroff@gmail.com</a>
               <a href="skype:NZeraF?voicemail">Skype</a>
                <a href="/">Whatsapp</a>
                <a href="/">Github</a>
             
           </md-card-content>
           
       </md-card>
      </div>
</div>
</div>

