@import "../../custom_theme.scss";

.contact-container{padding-bottom:2rem;padding-top:2rem;  background: $my-app-bright-grey;}

.contact-row{max-width: 960px; width:100%;  align-self: center;}

.contact-column{}   