<div class="portfolio-container"  fxFlex="100%" fxLayout="column wrap" fxLayoutAlign="center start">
<div class="portfolio-row" 
     fxLayout.gt-sm="row wrap" fxLayout="column wrap"
     fxLayoutAlign="center start">   
        <div class="portfolio-column" fxLayout="row" fxLayout.gt-sm="column"
             fxFlex="100%" fxFlex.gt-sm="{{ portfolioImage.fxFlexGtSm }}"  
             fxFlexAlign.gt-sm="stretch"
             *ngFor="let portfolioImage of portfolioImages; let i = index">
        <mat-card class="portfolio-mat-card">
          <img mat-card-image
               src="{{ portfolioImage.img }}">
          <mat-card-content class="portfolio-mat-card__content">  
            {{
            portfolioImage.description
            }}
          </mat-card-content>
          <mat-card-actions align="start">
            <button mat-button
                    (click)="likeMe(i)">
              <i class="material-icons mat-18">
                visibility
              </i>
              View this folio
            </button>
          </mat-card-actions>
        </mat-card>
          </div>
    </div>
  </div>