<div class="welcome-row"
     fxFlex="100%"
     fxLayout.gt-sm="row wrap" fxLayout="column wrap"
     fxLayoutAlign="center start">
     <div class="welcome-column" fxLayout="row" fxLayout.gt-sm="column">
       <md-card class="welcome-card">
           <img mdCardImage
                src="Card wide image source">
           <md-card-content>
               Description of portfolio, skills list, earned expirience.
           </md-card-content>
           <md-card-actions align="start">
               <button md-button
                       (click)="onAction($event)">Download</button>
           </md-card-actions>
       </md-card>
      </div>
</div>
