<div class="welcome-container" fxFlex="100%" fxLayout="column wrap" fxLayoutAlign="center start">
<div class="welcome-row"
     fxLayout.gt-sm="row nowrap"  fxLayout="column wrap"
     fxLayoutAlign="center stretch" fxLayoutGap="1rem">
     <div class="welcome-column" fxLayout="column" fxLayout.gt-sm="column" fxFlex="66%" fxFlexAlign="center stretch">
       <mat-card class="welcome-card">
           <img matCardImage
                src="assets/images/welcome-card-img.jpg">
           <mat-card-content>
               Description of portfolio, skills list, earned expirience.
           </mat-card-content>
           <mat-card-actions align="start">
               <button mat-button
                       (click)="onAction($event)">Download</button>
           </mat-card-actions>
       </mat-card>
       
       
      </div>
      <div class="welcome-column" fxLayout="row" fxLayout.gt-sm="column"  fxFlexAlign="center stretch" fxFlex="auto">
       <mat-card class="contact-card">
           <mat-card-title>Contacts</mat-card-title>
           <mat-card-content>
             <a href="mailto:artem.kudroff@gmail.com">artem.kudroff@gmail.com</a>
               <a href="skype:NZeraF?voicemail">Skype</a>
                <a href="/">Whatsapp</a>
                <a href="/">Github</a>
             
           </mat-card-content>
           
       </mat-card>
      </div>
</div>
</div>
